/* 
colors

ef476f paradise pink
FFD166 orange yellow crayola
06D6A0 carribean green
139FCD cerulean crayola
073B4C midnight green eagle green
*/

body {
	background-color: #06D6A0;
}

ul.cityList {
	background-color: #073B4C;
	border-color: #073B4C;
}

ul.cityList li {
	background-color: #139FCD;
	border-top-color: #073B4C;
}

ul.cityList li:hover {
	background-color: #073B4C;
	color: white;
}

ul.cityList li:active {
	background-color: black;
}

ul.cityList li button.deleteButton {
	color: white;
}

ul.cityList li button.deleteButton:hover {
	color: red;
}
